hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.create-post {
    border-left: 6px solid #2196F3;
    display: block;
    padding: 14px 16px;
    margin-bottom: 25px;
}

.create-post input {
    display: block;
    width: 95%;
    padding: 15px;
    margin: 5px 6px 5px 0;
    border: none;
    background-color: #f1f1f1;
    transition: 0.2s;
}

.create-post input:hover {
    background-color: #e7e7e7;
}

.create-post button {
    background-color: #337;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s;
}

.create-post button:hover {
    background-color: #448;
}

.other-posts {
    border-left: 6px solid #4CAF50;
    padding: 14px 16px;
    margin-bottom: 25px;
}

.other-posts .post {
    margin: 4px;
    border: 1px solid #f1f1f1;
    padding: 7px 8px;
}

.other-posts .post .poster {
    color: #AAA;
    font-size: 10px;
}

.other-posts .post .postdata {
    color: #777;
    font-size: 10px;
}