.login {
    display: block;
}

.login input {
    display: block;
    width: 95%;
    padding: 15px;
    margin: 5px 6px 22px 0;
    border: none;
    background-color: #f1f1f1;
    transition: 0.2s;
}

.login input:hover {
    background-color: #e7e7e7;
}

.login button {
    background-color: #373;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s;
}

.login button:hover {
    background-color: #484;
}