.signup {
    display: block;
}

.signup hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.signup input {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: #f1f1f1;
}

.signup input:hover {
    background-color: #e7e7e7;
}

.signup input:focus {
    background-color: #dddddd;
}

.signup button {
    background-color: #373;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}