extends ../template.pug
block content
	h1 Pivot
	hr
	p Pivot is a new programming language built on #[a(href="https://javascript.com/") JavaScript] by #[a(href="https://github.com/ElementG9/") ElementG9].
	p Pivot is currently in the alpha stage of development.
	hr
	h3 Installation
	ul
		li Download or clone #[a(href="/pivot/repo") the GitHub repository].
		li Download #[a(href="https://nodejs.org/") node.js].
		li Run #[i pivot.js] with #[code node pivot.js].
	hr
	h3 Documentation
	p The Pivot documentation is at #[a(href="/pivot/docs") https://gthub.us/pivot/docs].
