extends layout.pug
block content
    h1 Dashboard
    h4#user #{username}
    hr
    link(rel="stylesheet", href="/style/dashboard.css")
    br
    .create-post
        form(method='post', action='/post')
            label(for="content") #[b Create post]
            br
            input(type='textarea', name='content', placeholder='Type something...')
            br
            button(type='submit') Post!
    .other-posts
        p #[b Posts]
        .post
            p.poster User1
            p.postdata Post1
        .post
            p.poster User2
            p.postdata Post2
        .post
            p.poster User3
            p.postdata Post3