extends layout.pug
block content
    p!= `Hello ${username}!`
    link(rel="stylesheet", href="/style/dashboard.css")
    br
    .posts
    .create-post
        form(method='post', action='/post')
            label(for="content") #[b Post]
            br
            input(type='textarea', name='content', placeholder='Type something')
            br
            button(type='submit') Post!