extends layout.pug
block content
    p!= `Hello ${username}!`
    link(rel="stylesheet", href="/style/dashboard.css")
    br
    #post-div
        p Post
        form(method='post', action='/post')
            input(type='textarea', name='content')
            br
            input(type='submit', value='Submit')