extends layout.pug
block content
    h1 gthub.us
    hr
    p gthub.us is a personal project by ElementG9, designed to be a miniature version of #[a(href="https://twitter.com") Twitter].
    p Email ElementG9 for questions, concerns, and suggestions.
    .contacts(style="border-left: 6px solid #2196F3;")
        p #[b Information]
        p GitHub Repository: #[a(href="https://github.com/ElementG9/gthub.us") gthub.us]
        p GitHub Profile: #[a(href="https://github.com/ElementG9") ElementG9]
        p Email: #[a(href="mailto:elementg9dev@gmail.com") elementg9dev@gmail.com]
