extends layout.pug
block content
    h1 gthub.us
    hr
    p gthub.us is a personal project by ElementG9, designed to be a miniature version of #[a(href="https://twitter.com") Twitter].
    p Email ElementG9 for questions, concerns, and suggestions.
    .contacts(style="border-left: 6px solid #2196F3; padding: 14px 16px;")
        p #[b Information]
        ul
            li GitHub repository: #[a(href="https://github.com/ElementG9/gthub.us") gthub.us]
            li GitHub profile: #[a(href="https://github.com/ElementG9") ElementG9]
            li Email: #[a(href="mailto:elementg9dev@gmail.com") elementg9dev@gmail.com]