doctype html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel="stylesheet", href="/style/main.css")
body
    .nav
        a(href="https://gthub.us/") gthub.us
        case loggedin
            when true
                a(href='/dashboard') Dashboard
                a(href='/logout') Logout
            default
                .dropdown
                    a(href='/login').dropbtn Login
                    .dropdown-content
                        a(href="/signup") Signup
    .content
        block content
    .javascript
        block javascript