extends layout.pug
block content
    link(rel="stylesheet", href="/style/signup.css")
    form(action="/signup")
        .signup
            h1 Sign up
            hr

            label(for="username") #[b Username]
            br
            input(type="text",placeholder="Enter username",name="username",required)
            br

            label(for="password") #[b Password]
            br
            input(type="password",placeholder="Enter password",name="password",required)
            br

            button(type="submit") Login
    .login
        p Already have an account? #[a(href="/login") Log in]!