extends site-layout.pug
block content
    h1 gthub.us
    hr
    p Welcome to ElementG9's personal website!
    p On the left side of the navbar is the site navigation, and on the
    p right side of the navbar is the individual project's navigation.