extends site-layout.pug
block content
    link(rel="stylesheet", href="/style/twitter-login.css")
    form(action="/twitter-clone/login",method="post")
        .login
            h1 Log in
            hr
            .username
                label(for="username") #[b Username]
                input(type="text",placeholder="Enter username",name="username",required,autofocus)
            .password
                label(for="password") #[b Password]
                input(type="password",placeholder="Enter password",name="password",required)
            button(type="submit") Log in
    .signup
        p Don't already have an account? #[a(href="/twitter-clone/signup") Sign up]!