extends site-layout.pug
block content
    h1 Dashboard
    h4#user #{username}
    hr
    link(rel="stylesheet", href="twitter-clone/dashboard.css")
    script(src="/socket.io/socket.io.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
    script(src="twitter-dashboard.js")
    br
    .app(ng-app="App", ng-controller="AppCtl")
        .create-post
            form
                label #[b Create post]
                br
                input(type='textarea', ng-model='content', placeholder='Type something...')
                br
                button(ng-click="sendPost()") Post!
        .other-posts
            p #[b Posts]
            .post(ng-repeat="post in posts")
                p.poster {{post.username}}
                p.postdata {{post.data}}